<%- include('./header') %>

<div>
    <h1 class='header' style="text-align: center; margin: 20px 0;">欢迎来到 <%= title %></h1>

    <div>
        如果想体验前端项目，请访问：
        <a href="https://hotdog.liangxinwei.cn" target="_blank">hotdog</a>
    </div>
</div>

<%- include('./footer') %>
